<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MCourses</title>
    <!-- CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/videoplay.css"/>
    <!--JavaScript-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/video.min.js"></script>


    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .carousel{
        height: 300px;
        background-color:#000; 
        margin-bottom: 20px;
      }
      .carousel .item{
        height: 300px;
        background-color:#000; 
      }
      .carousel img{
        width: 100%;
        background-color:#000; 
      }
      #introduction-container .col-md-3{
        text-align: center;
      }
      .divider{
        margin:40px 0; 
      }
      .modal-footer{
        border-top: none;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top"  style="background:white">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="./images/logo.png"></a> -->
          <img src="static/images/logo3.png">
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">首页</a></li>
            <li class="active"><a href="#">全部课程 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">我的课程</a></li>
            <li><a href="#">我要开课</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>


          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入关键字进行搜索">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button class="btn btn-primary" data-toggle="modal" data-target="#enter">登录/注册</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
   <div class="container-fluid">
   <div class="row-fluid">
      <div class="sol-sm-12 col-md-12">
         <div class="media well">
             <a href="#" class="pull-left"><img src="static/images/course2.jpg" class="media-object" alt='' style="width:500px;"></a>
            <div class="media-body" style="line-height:50px;">
               <h1 class="media-heading" style="margin-top:50px;">
                  {{ course.course_name }}
               </h1> 共5节课，3小时</br>教师：Alex Wong</br>分类：计算机与互联网 移动开发
            </div>
         </div>
         <div class="row-fluid">
            <div class="col-sm-12 col-md-8">
               <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                     <a href="#">介绍</a> 
                  </li>
                  <li>
                     <a href="#">目录</a> 
                  </li>
                  <li>
                     <a href="#">讨论</a> 
                  </li>
               </ul>
               <p style="margin-top:30px;margin-left:30px;">&nbsp;&nbsp;程序设计是一门基础课程。对于计算机相关专业而言，程序设计是专业基础知识，是进一步学习其他专业知识的第一步阶梯；对于非计算机专业而言，程序设计的学习有助于理解计算机的能力所在，理解哪些是计算机擅长解决的问题，怎样的方式方法是计算机擅长的手段，从而能更好地利用计算机来解决本专业领域内的问题。</br>&nbsp;&nbsp;C语言是古老而长青的编程语言，它具备了现代程序设计的基础要求，它的语法是很多其他编程语言的基础，在系统程序、嵌入式系统等领域依然是无可替代的编程语言，在各类编程语言排行榜上常年占据前两名的位置。</br>&nbsp;&nbsp;对于非计算机专业的学生，学习本课程的主要目的是掌握程序设计的基本方法，C语言是教学媒介。但是对于计算机专业的学生，本课程是向后续的计算机组成、操作系统、编译原理、体系结构等课程前进的基石，对于C语言本身甚至程序设计语言基础原理的深入理解都是应该掌握的。</br>&nbsp;&nbsp;程序设计是实践性很强的课程，该课程的学习有其自身的特点，听不会，也看不会，只能练会。你必须通过大量的编程训练，在实践中掌握编程知识，培养编程能力，并逐步理解和掌握程序设计的思想和方法。在这里所提供的，只是基础的知识讲解，要想学会编程，还需要更多时间的投入和努力。</br>&nbsp;&nbsp;为了学习编程，你需要有一台计算机，安装必要的编程软件。无论是MS Windows、Mac OS X还是Linux，都有适合C语言编程的软件。</p>
            </div>
            <div class="col-sm-12 col-md-4">
               <div class="media well">
                   <a href="#" class="pull-left"><img src="static/images/avatar.jpg" class="media-object" alt='' style="width:250px;margin:0 auto"></a>
                  <div class="media-body">
                     <h2 class="media-heading" style="text-align:center;">
                        授课教师：Alex Wong
                     </h2> <p>简介：GoodGoodGoodGoodGoodGoodGood!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><a>版权：毕业小分队</a></li>
            <li><a href="#" data-toggle="modal" data-target="#about-us">关于我们</a></li>
            <li><a href="#">问题反馈</a></li>
            <li><a href="#">帮助中心</a></li>
          </ul>
      </div>
    </nav>

    <div class="modal fade" id="about-us">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">关于我们</h4>
          </div>
          <div class="modal-body">
            <p>这是我们毕业小分队的毕业设计网站：MCourses,我们会慢慢完善的……</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">了解了</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="enter">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="login-title" style="text-align:center">
              <h4>登录</h4>
            </div>
            <div class="login-body">
              <form id="login-form" action="#" method="post">
                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="请输入手机或邮箱">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 记住我的用户名
                      </label>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-success" data-dismiss="modal">了解了</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>