<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MCourses</title>
    <!-- CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding-top: 50px;
      }
      .carousel{
        height: 300px;
        background-color:#000; 
        margin-bottom: 20px;
      }
      .carousel .item{
        height: 300px;
        background-color:#000; 
      }
      .carousel img{
        width: 100%;
        background-color:#000; 
      }
      #introduction-container .col-md-3{
        text-align: center;
      }
      .divider{
        margin:40px 0; 
      }
      .modal-footer{
        border-top: none;
      }
      .navbar{
      margin-bottom: 0;
      }
      .footer-text{
      padding-top: 10px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top"  style="background:white">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="./images/logo.png"></a> -->
            <img src="static/images/logo3.png">
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="home">首页</a></li>
              <li><a href="#">全部课程 <span class="sr-only">(current)</span></a></li>
              <li><a href="/myCourses">我的课程</a></li>
              <li class="active"><a href="#">我要开课</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入关键字进行搜索">
              </div>
              <button type="submit" class="btn btn-default">搜索</button>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn btn-primary" data-toggle="modal" data-target="#enter">登录/注册</button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    
    
   <div class="container" style="margin-top:50px;">
      <ul class="nav nav-pills nav-justified">
        <li>
         <a href="#">课程信息</a>
        </li>
        <li class="active">
         <a href="#">课程内容</a>
        </li>
       <li>
        <a href="#">发布课程</a>
       </li>
      </ul>
      <h3>请编辑您的课程内容，内容不得少于1节讲课</h3>

      <div class="container-fluid" style="margin-top:50px;">
        <div class="row-fluid">
          <div class="col-lg-12" style="line-height:60px;">
            <div class="col-lg-12">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">第一章</span>
              <input type="text" class="form-control" placeholder="请输入第一章名称">
            </div></div><br>
            <div class="col-lg-6">
              <button type="button" class="btn btn-success btn-lg btn-block">
              保存
              </button>
            </div>
           <div class="col-lg-6">
             <button type="button" class="btn btn-default btn-lg btn-block">
             取消
             </button>
           </div><br>

            <div class="row-fluid"  style="margin-top:40px;">
              <div class="col-lg-1"></div>
              <div class="col-lg-11"  style="line-height:40px;">
                <div class="col-lg-12">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">第1节</span>
                  <input type="text" class="form-control" placeholder="请输入第1节名称">
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">视频内容</span>
                  <div class="col-lg-11"><input type="text" class="form-control" placeholder="请上传视频"></div>
                  <div class="col-lg-1"><button type="button" class="btn btn-primary btn-sm">上传</button></div>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">讲课描述</span>
                  <textarea type="text" class="form-control" placeholder="请输入讲课描述"></textarea>
                </div>
              </div><br>
                 <div class="col-lg-6">
              <button type="button" class="btn btn-success btn-sm btn-block">
              保存
              </button>
            </div>
           <div class="col-lg-6">
             <button type="button" class="btn btn-default btn-sm btn-block">
             取消
             </button>
           </div>
           <div class="col-lg-12" style="margin-top:40px;">
             <button type="button" class="btn btn-default btn-sm btn-block">
             <b>+</b>添加讲课
             </button>
           </div>

              </div>
            </div>
            <div class="col-lg-12" style="margin-top:60px;">
             <button type="button" class="btn btn-default btn-lg btn-block">
              <b>+</b>添加章节
             </button>
           </div>

          </div>
        </div>
      </div>

      <br>
      <a href="createCourseStepThird">
      <div class="btn btn-primary btn-lg" title="上一步" ng-disabled="disableJump" validation-submit="Form" ng-click="saveAndRedirect('createCourseStepThird')">
        上一步
      </div>
      </a>
      <a href="createCourseStepThird">
      <div class="btn btn-primary btn-lg" title="保存并下一步" ng-disabled="disableJump" validation-submit="Form" ng-click="saveAndRedirect('createCourseStepThird')">
        下一步
      </div>
      </a>

    </div>



    <div class="navbar navbar-default navbar-static-bottom" role="navigation" style="background-color:#e5e5e5">
          <div class="container">
            <ul class="nav navbar-nav">
              <li><a>© 毕业小分队&nbsp&nbsp&nbsp</a></li>
              <li><a href=""class="footer-text" data-toggle="modal" data-target="#about-us">关于我们</a></li>
            </ul>
            <a href="#top" class="footer-text" style="float:right">
              回到顶部
            </a>
          </div>
      </div>

    <div class="modal fade" id="about-us">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">关于我们</h4>
          </div>
          <div class="modal-body">
            <p>这是我们毕业小分队的毕业设计网站：MCourses,我们会慢慢完善的……</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">了解了</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="enter">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="login-title" style="text-align:center">
              <h4>登录</h4>
            </div>
            <div class="login-body">
              <form id="login-form" action="#" method="post">
                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="请输入手机或邮箱">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 记住我的用户名
                      </label>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-success" data-dismiss="modal">了解了</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
